<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.boy2b.module.sys.mapper.FunctionMapper">

    <resultMap id="functionEntity" type="cn.boy2b.module.sys.entity.FunctionEntity"></resultMap>

    <select id="query" parameterType="cn.boy2b.module.sys.vo.FunctionQueryVO" resultType="cn.boy2b.module.sys.vo.FunctionVO">
        select f.id,f.name,f.type,f.uri,f.parent_id parentId,f.status,p.name parentName
        from t_sys_function f
        left join t_sys_function p on p.id = f.parent_id
        <where>
            <if test="parentId != null and parentId != ''">
              and f.parent_id = #{parentId}
            </if>
        </where>
        <if test="orderBy == null or orderBy == ''">
            order by f.sort_num
        </if>
        <if test="orderBy != null and orderBy != ''">
            order by ${orderBy}
        </if>
        limit #{dataIndex}, #{pageSize}
    </select>

    <select id="queryCount" parameterType="cn.boy2b.module.sys.vo.FunctionQueryVO" resultType="int">
        select count(1)
        from t_sys_function f
        <where>
            <if test="parentId != null and parentId != ''">
                and f.parent_id = #{parentId}
            </if>
        </where>
    </select>
</mapper>